/* 전체 배경 색상 변경 */
body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* heading 스타일 */
h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    color: transparent;
}

#my-favorite-foods-header {
    color: red;
}

/* paragraph style */
p {
    font-size: 18px;
    color: darkgreen;
    text-align: center;
}

/* unordered list */
ul {
    list-style-type: none;
    padding: 0;
}

/* list */
li {
    background: lightblue;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
}

#hobby-list > li {
    background: lightgreen;
}

button {
    background: linear-gradient(45deg, #ff7eb3, #ff758c);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

/* Hover Effect */
button:hover {
    background: linear-gradient(45deg, #ff758c, #ff7eb3);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}